*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLORS */
:root {
    --bg-color: #23252C;
    --text-color: #fff;
    --paragraph: #DCDCDC;
}

body {
    margin: 0;
    background: var(--bg-color);
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: #374151;
}

.h1 {
    font-size: 1.56rem; /* 25px */
    line-height: 1;
    margin-bottom: 0;
    margin-top: 32px;
}

h2 {
    font-size: 1em; /* 16px */
    font-weight: 600;
}

p {
    line-height: 1.5;
    font-size: clamp(0.8em 0.9vh 1em);
    color: var(--paragraph);
}