*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLORS */
:root {
    --bg-color: #23252C;
    --text-color: #fff;
    --paragraph: #DCDCDC;
}

body {
    margin: 0;
    background: var(--bg-color);
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: #374151;
}

h2 {
    font-size: 1em; /* 16px */
    font-weight: 600px;
}